<section class="section__cards">
  <div
    class="card">
    <!--start card1-->
    <img class="card__img" src="img/photo bb.jpg" alt="baby">
    <div class="card__description">
      <h2 class="card__title">photos de naissance</h2>
      <p class="card__p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Fugiat deleniti, cumque assumenda dolorum
        rem vitae!</p>
      <button class="card__btn">
        <a href="http://">voir plus</a>
      </button>
    </div>
  </div>
  <!--end card1-->
  <div
    class="card">
    <!--start card2-->
    <img class="card__img" src="img/photo bb.jpg" alt="baby">
    <div class="card__description">
      <h2 class="card__title">photos de naissance</h2>
      <p class="card__p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Fugiat deleniti, cumque assumenda dolorum
        rem vitae!</p>
      <button class="card__btn">
        <a href="http://">voir plus</a>
      </button>
    </div>
  </div>
  <!--end card2-->
  <div
    class="card">
    <!--start card3-->
    <img class="card__img" src="img/photo bb.jpg" alt="baby">
    <div class="card__description">
      <h2 class="card__title">photos de naissance</h2>
      <p class="card__p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Fugiat deleniti, cumque assumenda dolorum
        rem vitae!</p>
      <button class="card__btn">
        <a href="http://">voir plus</a>
      </button>
    </div>
  </div>
  <!--end card3-->
</section>
