<section class="services__grid">
<!--noces-->
<div class="img__noces">
  <img class="photo__noces" src="/dist/img/serviceNoces.jpg" alt="Noces">
</div>
<div class="service__voyageNoces">
  <h2>photos de voyages de noces</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto pariatur laboriosam, odit, 
    cumque tenetur labore unde voluptas itaque sit 
    perspiciatis atque, asperiores commodi quia ipsam natus velit rerum maiores distinctio.</p>
</div>
<!--wedding-->
<div class="img__wedding">
  <img class="photo__wedding" src="/dist/img/ServMariage.jpg" alt="mariage">
</div>
<div class="service__wedding">
  <h2>photos de mariage</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto pariatur laboriosam, odit, 
    cumque tenetur labore unde voluptas itaque sit 
    perspiciatis atque, asperiores commodi quia ipsam natus velit rerum maiores distinctio.</p>
</div>





</section>