
@mixin navTab($size: "", $borderColor: "", $radius: "", $bg: "", $padding: "") {
  border: $size solid $borderColor;
  border-radius: $radius;
  text-align: center;
  background: $bg;
  color: black;
  padding: $padding;
  font-weight: bold;
  font-size: 1rem;
  
  &:hover {
    background: #1709df;

    color: #f0f0e6;
  }
  @include md{
    font-size: 2rem;
    margin-right: 40px;
  }
}

@mixin cardBtn($size: "", $borderColor: "", $radius: "", $bg: "", $padding: "") {
  border: $size solid $borderColor;
  border-radius: $radius;
  text-align: center;
  background: $bg;
  color: black;
  padding: $padding;
  font-weight: bold;
  font-size: 1rem;
  margin-right: 20px;
  &:hover {
    background: #1709df;

    color: #f0f0e6;
  }
  @include md{
    font-size: 2rem;
  }
}