*,
::before,
::after {
  padding: 0;
  margin: 0;
}

body {
  background: $body--color;
}

h1{
  color: $title--color;
  font-size: 2rem;
  text-align: center;
  font-family:'Dancing Script', cursive;
  margin-top: 5px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 2px rgb(157, 233, 15);;
  @include md{
    font-size: 3rem;
  }
}


a {
  text-decoration: none;
}
