---
layout : layout.njk
siteTitle : JB - Photography
pageTitle : contact
homeDescription : remplisser notre formulaire et décrivez votre projet
tabContact : active
--- 
<main>
  <h1> {{ siteTitle }}<br>{{pageTitle}}</h1>
    <section class="section__form">
      <form action="post" class="form">
          <label for="name" class="form__name">nom</label>
              <input type="text" class="input__name" placeholder=" doe">
          <label for="firstname" class="form__firstname">prénom</label>
              <input type="text" class="input__firstname" placeholder=" john">
          <label for="address" class="form__address">addresse</label>
              <input type="text" class="input__address">
          <label for="email" class="form__email">e-mail</label>
              <input type="text" class="input__email" placeholder=" @gmail.com">
          <label for="area" class="form__area">description</label>
              <textarea id="story" class="input__area" name="story"
              rows="10" cols="33"> exemple : photos de mariages dans les montagnes...
              </textarea>
              <button class="form__btn"><a href="http://">envoyer</a></button>
      </form>
    </section>
  </main>