---
layout : layout.njk
siteTitle : JB-Photography  
pageTitle : accueil  
homeDescription : notre métier capturer et memoriser vos momments inoubliables
tabHome : active
---

<main>
  <h1>{{ siteTitle }}<br>{{pageTitle}}</h1>

{% include "card.njk" %}

<section class="section__about">
    <h3 class="about__title">à propos de nous</h3>
    <p class="about__hero">une équipe motivèe pour immortaliser vos plus beau momments</p>

</section>

</main>