---
layout : layout.njk
siteTitle : JB-Photography  
pageTitle : services  
homeDescription : consultez nos services et nos tarifs
tabService : active
---
<main>
  <h1>{{ siteTitle }}<br>{{pageTitle}}</h1>



</main>