/*colors*/
$body--color: linear-gradient(90deg, rgba(159,246,136,1) 36%, rgba(0,212,255,1) 100%);
$title--color: #440303;
$card-p--color : #E01515;
$footer--color : #ffff;


/*font-family*/
$font_dancing : "Dancing Script", cursive;
/*$title--font : ;*/



